<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="calc-future-window" value="60" />
    <add key="docdb-endpoint" value="https://stockpredictor.documents.azure.com:443/" />
    <add key="docdb-authKey" value="iLKC0WyEqVQ7xXSDGGWXUuAFwW67abf3+ZMPYxZs4EAC9qc8+N9IFD23+N9BlxQP1VyPx6g+GWWGOOde6lME8g==" />
    <add key="docdb-caching-on" value="true" />
    <add key="docdb-database" value="TwoMonthTest" />
    <add key="docdb-collection-universe" value="Universe" />
    <add key="docdb-collection-marketdata" value="MarketData" />
    <add key="docdb-collection-aidata" value="AIDataResults" />
    <add key="docdb-collection-tradesim" value="TradeSim" />
    <add key="docdb-collection-calcdata" value="CalcData" />
    <add key="docdb-collection-calctraindata" value="CalcDataTraining" />
    <add key="docdb-collection-mlresults" value="Results" />
    <add key="docdb-rootdir" value="C:\Temp\TestAIData\" />
    <add key="azureml-endpoint-post" value="https://ussouthcentral.services.azureml.net/workspaces/5fab1d4aacbd4745bc0f7022b4a0e22f/services/732ba51fc1864fb6b927aac1f1ab0f37/execute?api-version=2.0" />
    <add key="azureml-apikey" value="bRjd0zlIyFiexeoddDUbirtxsqCbxR/dT6pRIkPpMXuhEhv8ZYqfvVBTZa8BOxMD0pAHGhGaBIj39LoIEqSdxw==" />
    <add key="quandl-apikey" value="mJdoa_w9g-tRVAsmAh9Z" />
    <add key="toggle-use-yahoo" value="true" />
    <add key="returns-benchmark-ticker" value="SPY"/>
  </appSettings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>